extends template

block head
    link(rel='stylesheet' href='/static/aboutme.css')

block main
    .main-container
      #image-quote
        p
          | Helping people reach their health goals, better connect with their bodies, and develop a better relationship with food is what drives my passion.
        #image
            img(src='/static/src/template/aboutme/desk.jpg')
            #box
          
      #about-text
        p Hello! I&rsquo;m Kamar Kreidly. Welcome to my website!
        p
          | Let me introduce myself. I&rsquo;m a Licensed Dietitian, I graduated from the Lebanese American University with a degree in Nutrition &amp; Dietetics and a minor in Food Safety &amp; Management.
          | Health, in general, has always been a particularly interesting world for me, but when I started studying and working in this field, I became more and more assured that it is where I want to belong.
          | The ability to help people reach their health goals, better connect with their bodies and develop a better relationship with food is what drives my passion for Nutrition.
          | On top of that, I&rsquo;ve always been very curious about cooking and baking, the kitchen was my favorite place growing, it was where I used to help my mother and grandmother make the most delicious meals.
          | This passion for cooking and baking persisted and developed into an art. For me, my kitchen is my comfort zone and a safe space to create and discover.
          | I hope you enjoy my recipes!
          | Thank you for being here! :)
      #about-image
        img(src='/static/src/template/aboutme/apple.jpg')
        #box-2
    script(src='/static/scripts/aboutme.js')
